@model IEnumerable<CWFinal_1628.Models.ProjectMaterial>

@{
    ViewBag.Title = "Index";
}
<style>
    .mid {
        text-align: center;
    }
</style>
<h2 class="mid">Manager Project Materials</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class ="btn btn-success" })
</p>
<div class="nav navbar-right">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-primary" type="submit">Search</button>
    </form>
</div>
<br />
<br />
<br />
<table class="table table-striped table-hover table-bordered">
    <thead class="alert-info">
        <tr>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Material.MaterialName)
            </th>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </th>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th class="mid">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="mid">Action</th>
        </tr> 
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material.MaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="mid">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectMaterialID }, new {@class ="btn btn-warning" }) 
                @Html.ActionLink("Details", "Details", new { id = item.ProjectMaterialID }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectMaterialID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
